/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Home
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
/* Colors */
.ligth-grey {color:#bbbbbb;}
.dark-grey {color:#777777;}
.transparent {
	background-color:#ffffff;
	border: 0px;
}

/* Visivility */
.blind {
	visibility:hidden;
}

/* Fonts */
@font-face {
    font-family: 'ColaborateMediumRegular';
    src: url('fonts/collaborate/ColabMed-webfont.eot');
    src: url('fonts/collaborate/ColabMed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/collaborate/ColabMed-webfont.woff') format('woff'),
         url('fonts/collaborate/ColabMed-webfont.ttf') format('truetype'),
         url('fonts/collaborate/ColabMed-webfont.svg#ColaborateMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ColaborateLightRegular';
    src: url('fonts/collaborate/ColabLig-webfont.eot');
    src: url('fonts/collaborate/ColabLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/collaborate/ColabLig-webfont.woff') format('woff'),
         url('fonts/collaborate/ColabLig-webfont.ttf') format('truetype'),
         url('fonts/collaborate/ColabLig-webfont.svg#ColaborateLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ColaborateBoldRegular';
    src: url('fonts/collaborate/ColabBol-webfont.eot');
    src: url('fonts/collaborate/ColabBol-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/collaborate/ColabBol-webfont.woff') format('woff'),
         url('fonts/collaborate/ColabBol-webfont.ttf') format('truetype'),
         url('fonts/collaborate/ColabBol-webfont.svg#ColaborateBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.collaborate-bold-regular {
	font-family: ColaborateBoldRegular;
}

.collaborate-medium-regular {
	font-family: ColaborateMediumRegular;
}

.collaborate-light-regular {
	font-family: ColaborateLightRegular;
}

.titols {
	color: #404040;
	font-style: italic;
}

/* Images */
.photo-footer {
	text-align: right;
	margin-bottom: 0;
	margin-top: 1em;
}

.photo-footer .photo-description {
	font-size: 0.9em;
	color: black;	
}

.photo-footer .photo-source {
	font-size: 0.8em;
	color: #aaaaaa;
	font-style: italic;	
}

/* -------------- 
CSS AngularJS Directives 
----------------*/ 

/* Lightbox */
.photo-modal.expand {
	width: none;
	margin-left: none;
}

.photo-modal {	
	padding: 1.3em;
	margin-left: -18em;
	width: 36em;
}

.photo-modal img {	
	width: 100%;
}

.photo-modal a.close-reveal-modal {
	top: 3px;
	right: 3px;
	text-decoration: none;	
}

.photo-modal .photo-leyend  {
	font-size: 0.85em;
	color: black;
	font-style: italic;
	margin-bottom: 0;
}

/* Magazinelightbox */
.photoframe-title {
	padding: 0;
}

.photoframe-title h6 {
	color: #404040;
	text-align: left;
	font-family:  'ColaborateBoldRegular';
	font-style: italic;
}

.photoframe-description {
	padding: 0;
	margin-top: 1em;	
}

.photoframe-description p {
	padding: 0 0 0 0.85em;
	font-size: 0.95em;
	border-left: 1px solid #DDD;
	color: #404040;
	text-align: left;
	font-style: italic;
	line-height: 1.4em;
	font-family: 'ColaborateLightRegular';
}

/* ------------------------- 
  CSS Javascript Libs 
---------------------------*/ 

/* Masonry */
.item {
	width: 280px;
	margin: 10px;
	float: left; 
}


/* SHARE HTML */
body {
	font-family: ColaborateLightRegular, serif;
}

h1, h2, h3, h4, h5, h6 {
	text-align: left;
}


/* -----------------------------------------
   Home
----------------------------------------- */
#adresa {
	text-align: center;
	font-weight: bolder;
}

.wrapped-right {
	float: right;
}

/* -----------------------------------------
   main.html
----------------------------------------- */

#featured { background: url(../images/orbit/loading_spinner.gif) center center #ffffff no-repeat; height: 300px; }
#featured img { display: none; }

#featured.orbit { background: none; }
#featured.orbit img { display: block; }


/* -----------------------------------------
   history.html
----------------------------------------- */

/* Content Header */
#header{	
	padding-top: 1em;
	background-color:rgba(80,80,80,1);		
}

/* Social DIV */
#social_nav_horizontal {
	margin-left: 2em;		
	margin-top: 0.4em;
}
#social_nav_horizontal ul {
	
}
#social_nav_horizontal ul li {
	float: left;	
	list-style-type: none;	
	padding-left: 0.3em;
}
#social_nav_horizontal ul li a {
	padding: 7px 0 0 25px;
	text-decoration: none;		
}
.facebook {
	background: url("../images/site/facebook1.png")no-repeat;	
	background-size:24px 24px;
}
.facebook:hover {
	background: url("../images/site/facebook.png")no-repeat;
	background-size:24px 24px;
}
.twitter {
	background: url("../images/site/icon-twitter-24x24-grey.png")no-repeat;
	background-size:24px 24px;
}
.twitter:hover {
	background: url("../images/site/icon-twitter-24x24.png")no-repeat;
	background-size:24px 24px;
}
/* Idiomas DIV */
#idiomes dl dd {
	margin-bottom: 0px;	
}

#idiomes dl dd a {
	color: #cccccc;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: bolder;

	-webkit-transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	-ms-transition-property: color;
	transition-property: color;

	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	transition-duration: 0.8s; /* Firefox 4 */
/* Safari and Chrome */
/* Opera */
}


#idiomes dl dd a:hover {
	color: #ffffff;
}



/*----------------
 Contenido Body 
----------------*/

#content-box {
	background-image:url('../images/site/paper.png');
	padding-top: 3em;	
	color: #717171;
	text-align: justify;
}

/* logo */
#logo {
	text-align: center;
}

#content-one-block {	
	border-bottom: dotted;
	border-color: #cccccc;
	border-width: 2px;
	padding-bottom: 2.86em;	
}

#content-two-blocks #left {
	padding-right: 2em;
}

@media only screen and (min-width: 768px) { 

	#content-two-blocks #right {
		padding-left: 2em;		
	}

	.vertical-dotted {
		border-left: dotted;
		border-width: 2px;
		border-color: #CCC;
	}
}

#content-two-blocks #right ul, #content-endless-block ul {
	padding-left: 2em;	
}

#content-two-blocks #right ul li {
	margin-bottom: 1em;	
}

#content-two-blocks #right ul li, #content-endless-block li {
	line-height: 1.4em;
}

/* menu navegacio */
#bmenu {
	text-align: center;
}

#bmenu li {
	display: block;
}

#bmenu li a {
	font-size: 1.4em;
	text-transform: none;
	text-shadow: 1px 1px 2px rgba(255,255,255,0.3);
	color: #707070;
	text-transform: uppercase;
	letter-spacing: 1px;

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	font-family: 'ColaborateLightRegular';
	line-height: 320%;
	text-decoration: none;
}

#bmenu li a.bmenu-activo {
	color: #B02A0C;
}

#bmenu:hover li a {
	text-shadow: 0px 0px 10px #000000;
	color: transparent;
}


#bmenu li a:hover, #bmenu li a:active {
	text-shadow: 1px 1px 10px #b02a0c; /*rgba(71,80,23,0.6);*/
	color: #b02a0c;
}



#right-column1 {
	margin-right:12%;
	bottom:0%;
	width:76%;
	height:100%;
	text-align:left;
	float:right;
	background-attachment:fixed;
	color:#717171;
}

/* -----------------------------------------
   entorn.html
----------------------------------------- */
.header-title {
	text-align: center;
	font-style: italic;
	width: 100%;
}


/* -----------------------------------------
   tarifies.html
----------------------------------------- */


.box-table-a { 
	font-family: 'ColaborateThinRegular';	
	border: 3px solid #ccc;	
}

.box-table-a th {	
	font-size: 0.85em;
	font-weight: bold;
	padding: 8px;
	border:  1px dotted #ccc;
	color: #000;
    padding: 0.5em;
	font-family: 'ColaborateMediumRegular';
}

.box-table-a th[scope=col] {
  border: 2px solid #ccc;
  background-color: #ddd;
}

.box-table-a th[scope=row] {
  border: 2px #ccc;
}
.box-table-a td {
	padding: 5em;
	border:1px dotted #666;;
	color: #666;
	padding: 0em;
	text-align:center;
}

.box-table-a tr.alt th, .box-table-a tr.alt td { 
	color: #2a4763; 
}

.box-table-a tr:hover th[scope=row], .box-table-a tr:hover td { 
  background-color: #632a2a;
  color: #fff;
} 

.box-table-a caption { 
  background-color: transparent;
  color:fff;
} 


/* -----------------------------------------
   contacte.html
----------------------------------------- */


#headermapa { 
	color: #999;
	text-align: center;
} 	

#contactWrapper h1 { color: #fff; font-weight: bold;}
#contactWrapper em { color: #01b3b3;}

.error {
	background: #FFCDCD;
	border: 1px solid #99344C;
	color: #99344C;
	padding: 1em; 
}

.success {
	background: #F0FFC1;
	border: 1px solid #819934;
	color: #819934;
	padding: 1em; 	
}

.requiredNote {
	margin: 1em 0 1em;
	color: #333;
	font-weight: bold;
}

form#contactform input, form#contactform textarea {
	 border: 1px solid #cfdede; 
	 padding:0 1em; 
	 font-size:1em; 
	 border-radius: 3px; 
	 -moz-border-radius: 3px; 
	 -webkit-border-radius: 3px; 
	 -o-border-radius: 3px; 
	 background: #fff; 
	 color: #777777;
}
form#contactform textarea {font:12px Arial, Helvetica, sans-serif; padding: 5px;}
form#contactform input:focus, form#contactform textarea:focus { outline: none; border: 1px solid #649d9d;}

#submitButton {
	display: block;
	text-indent: -5000px;
	width: 150px!important;
	height: 23.5px;
	background-image:url(../images/site/send-button-sprite.png)!important;
	border: 0px!important;	
	margin:0 auto;
}

#submitButton:hover, #submitButton:active {
	background-position: 0 -23.5px;
}


/* -----------------------------------------
   oferim.html
----------------------------------------- */
#placeholder-img {
	height:350px;
}

#placeholder-img img {
	max-width: none;
}

#slideshow {	
  position:relative;
  width:266px;
  height:350px;
  overflow:hidden;
  border:8px solid #fff;
}


#slideshow img {
  position:absolute;
  width:300px;
  height:400px;
  top:50%;
  left:50%;
  margin-left:-150px;
  margin-top:-200px;
  opacity:0;
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-duration: 3s, 8s;
     -moz-transition-property: opacity, -moz-transform;
     -moz-transition-duration: 3s, 8s;
      -ms-transition-property: opacity, -ms-transform;
      -ms-transition-duration: 3s, 8s;
       -o-transition-property: opacity, -o-transform;
       -o-transition-duration: 3s, 8s;
          transition-property: opacity, transform;
          transition-duration: 3s, 8s;
}

#slideshow img  {
  -webkit-transform-origin: bottom left;
     -moz-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
       -o-transform-origin: bottom left;
          transform-origin: bottom left;
}
#slideshow :nth-child(2n+1) {
  -webkit-transform-origin: top right;
     -moz-transform-origin: top right;
      -ms-transform-origin: top right;
       -o-transform-origin: top right;
          transform-origin: top right;
}
#slideshow :nth-child(3n+1) {
  -webkit-transform-origin: top left;
     -moz-transform-origin: top left;
      -ms-transform-origin: top left;
       -o-transform-origin: top left;
          transform-origin: top left;
}
#slideshow :nth-child(4n+1) {
  -webkit-transform-origin: bottom right;
     -moz-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
       -o-transform-origin: bottom right;
          transform-origin: bottom right;
}

#slideshow .fx:first-child + img ~ img  {
  z-index:-1;
}

#slideshow .fx {
  opacity:1;
  -webkit-transform: scale(1.5) translate(30px);
     -moz-transform: scale(1.5) translate(30px);
      -ms-transform: scale(1.5) translate(30px);
       -o-transform: scale(1.5) translate(30px);
          transform: scale(1.5) translate(30px);
}



