<header></header>
<div id="content-box" class="row container">
	<sidelogo class="two mobile-one columns"></sidelogo>
	<div class="eight mobile-two columns">
		<div id="content-endless-block" class="row">
			<div class="twelve columns">
				<div class="row">

					<!-- BEGIN CONTACTE -->
					<div id="content-two-blocks" class="row">
						<div id="left" class="six columns">
							<div id="row">
								<!-- Google Map -->
								<iframe width="320" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=&amp;daddr=Carrer+de+la+Torre+del+Prior,+43500+Tortosa,+Tarragona,+Spain&amp;hl=ca&amp;geocode=FQ0kbwIdqeIHACkpyPHRYuSgEjGhuhZ5RV_F0Q&amp;sll=40.83823,0.517044&amp;sspn=0.36312,0.44838&amp;mra=ls&amp;ie=UTF8&amp;t=m&amp;ll=40.976788,0.568542&amp;spn=0.36288,0.480652&amp;z=10&amp;iwloc=ddw1&amp;output=embed"></iframe>
								<br />

								<p id="headermapa">
									Casa rural Torre Prior.
									<br>
									Carretera C12 km 25. Jesús ( 43500 Tortosa).
									<br>
									N 40.838384 E 0.516632
									<br>Tel: +977444444. torreprior@gmail.com.</p>
							</div>

						</div>

						<div id="right" class="six columns">
							<div id="row">

								<div id="contactWrapper" role="form">

									<?php if(isset($hasError)) { //If errors are found ?>
									<p class="error">
										Si us plau, comprovi si s'ha omplert tots els camps amb informació vàlida i torneu a intentar. Gràcies.
									</p>
									<?php } ?>


									<?php if(isset($emailSent) && $emailSent == true) { //If email is sent ?>
									<div class="success">
										<p> <strong>Email enviat amb èxit!</strong>
										</p>
										<p>
											Gràcies per utilitzar el nostre formulari de contacte <strong><?php echo $name;?></strong>
											! El teu email va ser enviat amb èxit i estarem en contacte amb vostè en breu.
										</p>
									</div>
									<?php } ?>


									<form method="post" action="<?php echo $_SERVER['PHP_SELF']; ?>
										" id="contactform">
										<div class="">
											<label for="name">
												<strong>Nom: <em>*</em></strong> 
											</label>
											<input type="text" name="contactname" id="contactname" value="" class="required" role="input" aria-required="true" />
										</div>

										<div class="">
											<label for="email">
												<strong>
													Email: <em>*</em></strong> 
											</label>
											<input type="text" name="email" id="email" value="" class="required email" role="input" aria-required="true" />
										</div>

										<div class="">
											<label for="subject">
												<strong>
													Tema:
													<em>*</em>
												</strong>
											</label>
											<input type="text" name="subject" id="subject" value="" class="required" role="input" aria-required="true" />
										</div>

										<div class="">
											<label for="message">
												<strong>
													Missatge:
													<em>*</em>
												</strong>
											</label>
											<textarea rows="8" name="message" id="message" class="required" role="textbox" aria-required="true"></textarea>
										</div>

										<p class="requiredNote">
											<em>*</em>
											Camp obligatori.
										</p>

										<input type="submit" value="Send Message" name="submit" id="submitButton" title="Click here to submit your message!" />
									</form>
								</div>
							</div>
						</div>

					</div>

				</div>

				<!--  END CONTACTE-->

			</div>
		</div>
	</div>
	<sidemenu class="two mobile-one columns"></sidemenu>
</div>