<header></header>
<div id="content-box" class="row container">
	<sidelogo class="two mobile-one columns"></sidelogo>
	<div class="eight mobile-two columns">
		<div id="content-endless-block" class="row">
			<div class="row">
				<div class="">

					<!-- Demo Gallery -->
					
					<div id="container01">
						<h3 class="collaborate-medium-regular header-title item">Espais</h3>
						<div class="photoframe item">
							<lightbox id="gallery26" src-image="images/site/turismeamposta.jpg" alt-image="torre de la carrova" leyend-image="Riu Ebre. Font:www.turismeamposta.cat. Autor: Mariano Cebolla"></lightbox>
							<div class="five columns photoframe-title">
								<h6>Castells de frontera: la marca de les Terres de l’Ebre</h6>
							</div>
							<div class="seven columns photoframe-description">
								<p>
									Un recorregut per les comarques del Montsià, el Baix Ebre, la Terra Alta i la Ribera d’Ebre, descobrint els testimonis que ens han arribat des de l’època medieval, conforma la ruta dels castells de la marca de les Terres de l’Ebre. A la foto: Torre de la Carrova.
								</p>
							</div>
						</div>

						<div class="photoframe item">
							<lightbox id="gallery27" src-image="images/site/escalada.jpg" alt-image="escalada" leyend-image="Riu Ebre. Font:www.turismeamposta.cat. Autor: Mariano Cebolla"></lightbox>
							<div class="five columns photoframe-title">
								<h6>Escalada als Ports</h6>
							</div>
							<div class="seven columns photoframe-description">
								<p>
									El massís dels Ports, la serra del Montsià i de Llaberia són formacions calcàries i de conglomerat on els darrers anys s’han obert diverses línies d’escalada però on encara hi ha moltes vies per descobrir
								</p>
							</div>
						</div>

						<div class="photoframe item">
							<lightbox id="gallery28" src-image="images/site/cellerpinell.jpg" alt-image="celler Pinell" leyend-image="La Catedral del vi. Font:Creative Commons. Autor:Tomàs Badia"></lightbox>
							<div class="five columns photoframe-title">
								<h6>Turisme enològic. Celler del Pinell</h6>
							</div>
							<div class="seven columns photoframe-description">
								<p>
									César Martinell, deixeble d'Antoni Gaudí dissenyà aquest celler modernista construït a base d'arcs parabòlics i encavalcades de fusta. A més d'una magnífica arquitectura la Terra Alta permet disfrutar excel·lents vins
								</p>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
	<sidemenu class="two mobile-one columns"></sidemenu>
</div>