<!-- Refactory in a AngularJS Directive menubar -->
<header></header>
<div class="row container" id="content-box">
	<!-- Refactory in a AngularJS Directive logo -->
	<sidelogo class="two mobile-one columns"></sidelogo>

	<div class="eight mobile-two columns" >
		
		<div class="row" id="content-one-block">
			<div class="twelve columns">
				<div class="row">
					<div>
						<h5>Les torres de guaita</h5>
					</div>
					<div class="five columns wrapped-right">						
							
						<lightbox id="torre01" src-image="images/site/burjassenia.jpg" alt-image="Torre de Burjassénia. Llicència Creative Commons." leyend-image="Torre de Burjassénia. Llicència Creative Commons."></lightbox>					
						
						<p class="photo-footer">
							<span class="photo-description">Torre de Burjasénia. L'Aldea.</span><br>
							<span class="photo-source">Foto de Deosringas.</span>	
						</p>
						
					</div>
					<div>
						<p>Les <strong class="collaborate-bold-regular">torres de guaita </strong>ja exitien en época romana. Actuaven com a mitjà de comunicació, control i defensa de vies de comunicació i poblacions. A les <strong class="collaborate-bold-regular">terres de l'Ebre </strong>es poden diferenciar dues disposicions de les torres: les que formaven els sistema de protecció del litoral i que, per tant, se situaven paral·lelament a la línia de la costa, i les que trobem al llarg del riu, a banda i banda i de forma aparellada. Donada la seva finalitat defensiva sovint no tenien porta d'accés a nivell de terra i calia enfilar-se amb una escala per entrar-hi. N'hi ha de base quadrada o rectangular i de base rodona i es construien amb còdols o pedra sense treballar. També incorporaven merlets, sageteres i matacans.</p>

						<p>Les torres han passat, sovint per diferents estadis i reconstruccions. Les que se troben allà  on el sol és molt  antic cal suposar que provenen d'una primera construcció <strong class="collaborate-bold-regular">romana o pre-romana.</strong> Moltes van ser renovades durant la dominació àrab (s. XIV-XV). De construcció més recent són les que es troben a sobre terres d'al·luvió o les de costa, aixecades aquestes últimes a causa de les incursions de  <strong class="collaborate-bold-regular">pirates turcs i musulmans (s. XVI-XVII).</strong></p>
					</div>
				</div>				
			</div>
		</div>

		<div class="row" id="content-two-blocks">
			<div class="six columns" id="left">
				<div class="row">
					<div>
						<h5>Torre del prior</h5>
					</div>
					<div class="seven columns wrapped-right">
												
						<lightbox id="torre02" src-image="images/site/torre1920.jpg" alt-image="Torre de Burjassénia. Llicència Creative Commons." leyend-image="Torre de Burjassénia. Llicència Creative Commons."></lightbox>

						
						<p class="photo-footer">
							<span class="photo-description">Torre del Prior.<br> Entorn l'any 1920.</span><br>
							<span class="photo-source">Arxiu Comarcal del Baix Ebre.<br>Foto de Ramon Borrell.</span>	
						</p>
						
					</div>
					<div>
						<p>El nom prové, potser, per haver estat propietat de <strong class="collaborate-bold-regular">Ponç</strong> prior de la canònica de Tortosa a finals del s. XII. Es troba entre l'Aldover i Jesús, prop de Tortosa, a la riba dreta de l'Ebre i a poca distància d'una altra torre: la de <strong class="collaborate-bold-regular">Llaver.</strong> És de planta quadrada de costat de 6.3 m i 14 m d'alçada i cares arrebossades fetes de <strong class="collaborate-bold-regular">còdols</strong> en filades horitzontals units amb morter. Consta de planta baixa, amb una porta a peu de terra, amb arcada de mig punt, oberta a posteriori. Primera planta on la porta d'accés original, també de mig punt, ha estat convertida en finestra. Segona planta on s'aprecia perfectament la marca de <strong class="collaborate-bold-regular">l'encofrat de canya</strong> usat per fet el sostre i on també hi ha una obertura. Finalment, la terrassa superior és coronada amb <strong class="collaborate-bold-regular">corsera, merlets i permòdols</strong>.</p>

						<p>Al voltant de la torre s'alça un conjunt de masades reconstruides recentment. La finalitat de defensa del territori proper a la torre explica aquestes edificacions annexes. A cops aquests masos podien acabar convertint-se en una nova vila, com ha passat a <strong class="collaborate-bold-regular">La Galera, Amposta, Tivenys</strong> ....  Actualment està catalogada com a BCIN (Bé cultural d’interès nacional).</p>
					</div>
				</div>
			</div>
			<div class="six columns vertical-dotted" id="right">
				<div class="row">
					<div>
						<h5>Rehabilitacio de la torre</h5>
					</div>
					<div class="seven columns wrapped-right">
						
						<lightbox id="torre03" src-image="images/site/cim.jpg" alt-image="torre del prior" leyend-image="torre del prior"></lightbox>
						
						<p class="photo-footer">
							<span class="photo-description">Merlets i corseres.</span><br>
							<span class="photo-source">Foto de Xavier Rollan.</span>	
						</p>
						
					</div>
					<div>
						<p>La torre presentava diverses mancances i desperfectes: pèrdua de l'arrebossat a les parets interiors i exteriors, un merlet destruit, manca de tancaments, terres en molt mal estat, cap a accés a les plantes segona i a la terrassa .... Durant l'any 2006 es duu a terme la restauració emprant materials de la zona i tècniques constructives originals (<strong class="collaborate-bold-regular">pedra d'Ulldecona</strong> per elscollaborate-bold-regular, <strong class="collaborate-bold-regular">morter de calç</strong> per alscollaborate-bold-regular). S'instal·len escales a les plantes superiors, tancamentes de fusta a les obertures i instal·lació d'enllumenat. En definitiva, tot i afegir alguns elements propis dels temps actuals, la torre s’ha restaurat, retornant-li la fesomia formal, material i cromàtica que tenia originalment.</p>

						<h5>Rehabilitació de les masades</h5>

						<p>El conjunt d'edificis annexes a la torre estaven força malmesos, en estat de ruïna en algun cas. En el seu temps havien estat habitatges, corralisses i naus d'ús agrícola. L'any  2010 s'inicien les obres de rehabilitació amb l'objectiu de recuperar els elements en procés de degradació i reformar els espais interiors tot respectant al màxim l'aspecte i materials originals. S'emprenen les següents actuacions:</p>

						<p>
							<ul>
								<li>Façanes: es reparen els murs quan és possible i quan no es puja paret nova de <strong class="collaborate-bold-regular">termoargila</strong> de 40cm de gruix amb aïllament tèrmic.</li>
								<li>Tancaments interiors: doble envà amb aïllament acústic.</li>  
								<li>Fusteria d'iroko amb doble vidre.</li>
								<li>Teulades i forjats: es recull la <strong class="collaborate-bold-regular">teula àrab</strong> i les <strong class="collaborate-bold-regular">toves</strong> en bon estat per reutilitzar-les. També es reserven les bigues i reixes originals. S'empren bigues de fusta massissa. A la planta baixa s'usa revoltó ceràmic entre bigues i a la primera planta la tova original. </li>
								<li>Per als terres triem rajola de fang cuit.</li>
								<li> Els revestisments de façanes es fan a base de morter de calç i sorra fins  trobar un cromatisme semblant a l'original. No cal pintar.</li>
								<li>Es construeixen escales de <strong class="collaborate-bold-regular">volta catalana</strong> amb toves de fang artesanals. Les baranes són de ferro, també respectant l'estil tradicional.</li>
								<li> Tant les <strong class="collaborate-bold-regular">brancades</strong> i <strong class="collaborate-bold-regular">àmpits</strong> de finestres i balconeres, com els <strong class="collaborate-bold-regular">sardinells</strong> són fets amb toves i tobots recuperats.</li>  
								<li>Per al mobiliari de les habitacions hem triat fusta massisa de roure, acer o vidre.</li>
							</ul>
						</p>

					</div>
				</div>
			</div>
		</div>		
	</div>
	<!-- Refactored in a AngularJS Directive sidemenu -->
	<sidemenu class="two mobile-one columns"></sidemenu>
</div>
