<div class="row centered">
	<div class="two mobile-one columns panel transparent">
		<div class="row">
			<div class="twelve columns" id="adresa">
				<p class="ligth-grey">Allotjament rural<br/>
				<span class="dark-grey">Torre Prior</span><br/>
				Tortosa<br/>
				977 444 444</p>
			</div>			
		</div>
		<div class="row">			
			<div class="nine columns centered">
				<img src="images/site/log.jpg" alt="torreprior">
			</div>
		</div>		

	</div>
	<div class="ten mobile-three columns">
		<div class="" id="featured">
			<a href="#/history" class="th"><img src="images/site/principal.jpg" alt="principal"></a>
			<a href="#/history" class="th"><img src="images/site/florit.jpg" alt="florit" ></a>			
			<a href="#/history" class="th"><img src="images/site/platan.jpg" alt="platan" ></a>
		</div>
	</div>
</div>
