<header></header>
<div id="content-box" class="row container">
	<sidelogo class="two mobile-one columns"></sidelogo>
	<div class="eight mobile-two columns">
		<div id="content-endless-block" class="row">
			<div class="row">
				<div>
					<h5>La nostra oferta</h5>
				</div>
				<!-- Slideshow Ken Burns BEGIN -->
				<div class="five columns wrapped-right">
					
					 <div id="placeholder-img" class="blind">
			            <img src="images/site/sand-castle.jpg" alt="Sand Castle">
			            <img src="images/site/sunflower.jpg" alt="Sunflower">
			            <img src="images/site/flip-flops.jpg" alt="Flip Flops">
			            <img src="images/site/rubber-ring.jpg" alt="Rubber Ring">                     
			        </div>

					
					<p class="photo-footer">
						<span class="photo-description">Torre de Burjasénia. L'Aldea.</span><br>
						<span class="photo-source">Foto de Deosringas.</span>	
					</p>
					
				</div>
				<!-- END -->
				
				<div>
					<p>El conjunt arquitectònic de la Torre del Prior ocupa una hectàrea i consta d'una torre de defensa del segle XII i un seguit d'edificis adjancents d'ús agrícola envoltats per diversos tancats de tàpia. El grup d'edificis conforma una L amb orientació migdia al voltant d’una era amb un plàtan monumental i una bassa de reg convertidad ara en piscina.  Els edificis han estat rehabilitats i convertits en allotjament rural compartit amb capacitat per a 15 persones. La casa rural ofereix 7 habitacions dobles amb bany, sala d'estar,cuina,  menjador i espais de lleure i descans.</p>

					<h5>La casa</h5>

					<p>
						<ul>
							<li>Rentadora i assecadora</li>
							<li>Mobiliari de jardí</li>
							<li>Piscina</li>
							<li>Zona de barbacoa i picnic</li>
							<li>Venda de productes de proximitat</li>
						</ul>
					</p>

					<h5>Les habitacions</h5>

					<p>
						<ul>
							<li>Habitacions grans amb bany</li>
							<li>Matalassos i roba de llit de primera qualitat </li>
							<li>Televisor</li>
							<li>El bany disposa d'eixuga cabells i Gentileses de bany </li> 
							<li>Llits dobles de 160 cm</li>
							<li>Insonorització completa</li>
							<li>Aire condicionat (bomba de calor)</li>
							<li>Bressols disponibles</li>
						</ul>
					</p>

					<h5>La cuina i el menjador</h5>

					<p>
						<ul>
							<li>Cuina d'inducció </li>
							<li>Cafetera Nespresso</li>
							<li>Forn</li>
							<li>Microones</li>
							<li>Minipimer</li>
							<li>Torradora</li>
							<li>Sala menjador annexa amb capacitat per a 15 persones i amb televisor</li>
						</ul>
					</p>

					<h5>La sala d'estar</h5>

					<p>
						<ul>
							<li>Zona de jocs i lectura </li>
							<li>Lavabos d'us compartit (adaptats) </li>
						</ul>
					</p>

				</div>
			</div>				
		</div>
	</div>
	<sidemenu class="two mobile-one columns"></sidemenu>
</div>