<header></header>
<div id="content-box" class="row container">
	<sidelogo class="two mobile-one columns"></sidelogo>
	<div class="eight mobile-two columns">
		<div id="content-endless-block" class="row">
			<div class="row">

				<!-- Slideshow Ken Burns BEGIN -->
				<div class="five columns wrapped-right">
					
					 <div id="placeholder-img">
			            <img src="images/site/sand-castle.jpg" alt="Sand Castle">
			            <img src="images/site/sunflower.jpg" alt="Sunflower">
			            <img src="images/site/flip-flops.jpg" alt="Flip Flops">
			            <img src="images/site/rubber-ring.jpg" alt="Rubber Ring">                     
			        </div>

					
					<p class="photo-footer">
						<span class="photo-description">Torre de Burjasénia. L'Aldea.</span><br>
						<span class="photo-source">Foto de Deosringas.</span>	
					</p>
					
				</div>
				<!-- END -->

				<!-- TARIFES BEGIN -->

				<table class="box-table-a">
					<h5>Taula de tarifes 2012</h5>
					<tbody>
						<tr>
							<th scope="col" colspan="1" rowspan="2">HABITACIÓ/CASA</th>
							<th  scope="col"colspan="3" rowspan="1">TEMPORADA</th>
						</tr>
						<tr>
							<th scope="col">ALTA</th>
							<th scope="col">MITJA</th>
							<th scope="col">BAIXA</th>
						</tr>
						<tr  class="alt">
							<th scope="row">H. DOBLE</th>
							<td>70&#8364;</td>
							<td>60&#8364;</td>
							<td>50&#8364;</td>
						</tr>
						<tr>
							<th scope="row">H. DOBLE SUPERIOR</th>
							<td>80&#8364;</td>
							<td>70&#8364;</td>
							<td >60&#8364;</td>
						</tr>
						<tr  class="alt">
							<th scope="row">H. FAMILIAR</th>
							<td>90&#8364;</td>
							<td>80&#8364;</td>
							<td>70&#8364;</td>
						</tr>
						<tr>
							<th scope="row">TOTA LA CASA CAP DE SETMANA</th>
							<td>1000&#8364;</td>
							<td>800&#8364;</td>
							<td>700&#8364;</td>
						</tr>
						<tr  class="alt">
							<th scope="row">TOTA LA CASA &nbsp;SETMANA SENCERA</th>
							<td>3000&#8364;</td>
							<td>2500&#8364;</td>
							<td>2000&#8364;</td>
						</tr>
					</tbody>
				</table>

				<div class="collaborate-light-regular">
					<p> <strong>Temporada Alta:</strong>
						Juliol, Agost, Nadal i Setmana Santa
						<br> <strong>Temporada Mitja:</strong>
						Juny i Setembre.
						<br>
						<strong>Temporada Baixa:</strong>
						resta de l'any
						<br></p>
					<h5 class="collaborate-bold-regular titols">Horaris</h5>
					<p>
						<strong>Entrada:</strong>
						de 17h fins les 21h.
						<br>
						<strong>Sortida:</strong>
						abans de les 12h.
						<br></p>
					<h5 class="collaborate-bold-regular titols">Pagament</h5>
					<p>
						Paga i senyal del 25% per tansferència o càrrec en tarja de crèdit. La resta  en arribar.
					</p>
					<h5 class="collaborate-bold-regular titols">Fiança</h5>
					<p>150&#8364; que es retornarà 3 dies després de la sortida.</p>
					<h5 class="collaborate-bold-regular titols">Anulació de reserva</h5>
					<p>
						Donarà lloc a la pèrdua total de la paga i senyal si l'anulació es fa a menys de 5 dies de la data 	prevista  d'entrada a l'allotjament. Si l'anulació es fa abans es retornarà només el 50% de la paga i senyal.
					</p>
					<h5 class="collaborate-bold-regular titols">Obligacions client</h5>
					<p>
						No sobrepassar el nombre d'ocupants permesos per habitació. Si això passa es cancel·larà el contracte d'estada.
						<br>
						En marxar deixar a l'habitació les tovalloles i roba de llit i a la cuina la vaixella i coberts nets.
						<br>
						Endur-se la brossa.
						<br>
						No fer soroll més enllà de les 23:00h.
						<br></p>
					<h5 class="collaborate-bold-regular titols">Inventari</h5>
					<p>
						En arribar el client comprovarà l'estat d'allò que trobarà a l'habitació i la cuina. En cas que es produeixin desperfectes o pèrdua es descomptarà el seu valor de l fiança depositada. En cas que els desperfectes siguin superiors al valor de la fiança es prendran les mesures legals oportunes.
					</p>
				</div>
				<!-- END -->

			</div>
		</div>
	</div>
	<sidemenu class="two mobile-one columns"></sidemenu>
</div>