<div id="container01">
	<h3 class="collaborate-medium-regular header-title item">Tortosa</h3>
	<div class="photoframe item">
		<lightbox id="gallery01" src-image="images/site/fortificacions.jpg" alt-image="Capella" leyend-image="Fortificacions.  Font: Patronat Turisme Terres de l'Ebre Catalunya.ueba de tamaño"></lightbox>
		<div class="five columns photoframe-title">
			<h6>Passeig de les fortifiacions</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				El conjunt de muralles i fortificacions de Tortosa és dels més importants d'Europa. Consta de restes d'orígen romà, fortificacions  de l'època musulmana i parts del recinte emmurallat medieval construït al segle XIV
			</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery02" src-image="images/site/tortosaturisme1.jpg" alt-image="Contraforts" leyend-image="Catedral.  Font: Patronat Turisme Terres de l'Ebre Catalunya."></lightbox>
		<div class="five columns photoframe-title">
			<h6>Contraforts de la Catedral</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				Contraforts de l'absis on hi ha un doble joc d'arcbotants que acaben en unes petites torres poligonals que havien d'anar coronades per pinacles que mai no van arribar a realitzar-se
			</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery03" src-image="images/site/llotja.jpg" alt-image="Capella" leyend-image="Llotja. Font: Patronat Turisme Terres de l'Ebre Catalunya."></lightbox>
		<div class="five columns photoframe-title">
			<h6>La Llotja de Tortosa</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				Construïda a mitjans del s. XIV a la riba esquerra del riu Ebre esdevingué un punt de negoci i contractació  de la ciutat.
			</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery04" src-image="images/site/missal.jpg" alt-image="" leyend-image=""></lightbox>
		<div class="five columns photoframe-title">
			<h6>Missal de Sant Ruf</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				Un valuós manuscrit  del segle XII. El codex procedeix de Sant Ruf d'Avinyó i va ser portat a Tortosa l'any 1148 per Gaufred, abat d'aquesta població francesa i primer bisbe de Tortosa. Font: CRBMC. Generalitat de Catalunya
			</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery05" src-image="images/site/mercat.jpg" alt-image="Mercat Amador" leyend-image="Mercat de Tortosa.  Font:  Creative Commons. Autor: Amador"></lightbox>
		<div class="five columns photoframe-title">
			<h6>Mercat Municipal</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				El Mercat de Tortosa és d’estil eclèctic i va participar en la seva construcció  Joan Torras i Guardiola, conegut com “l’Eiffel Català”. Fou construït a l'antiga llera del riu Ebre entre els anys 1884 i 1887
			</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery06" src-image="images/site/casagrego.jpg" alt-image="Casa Grego" leyend-image="Castell de la Suda"></lightbox>
		<div class="five columns photoframe-title">
			<h6>Casa Grego. Plaça de la catedral</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				Casa modernista situada a la plaça de la catedral, construïda per Pau Monguió. L'arquitecte opta per decorar la façana amb esgrafiats amb formes  arrodonides i sinuoses, i hi imprimeix un dinamisme molt propi del modernisme
			</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery07" src-image="images/site/cinta.jpg" alt-image="Capella de la Cinta" leyend-image="Capella de la Cinta.  Font:  Creative Commons. Autor: Tomàs Badia"></lightbox>
		<div class="five columns photoframe-title">
			<h6>Capella de la Cinta. Catedral de Tortosa</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				Coneguda també com Capella Reial, és una obra barroca, de dimensions més grans que les altres capelles que consta de planta llatina, coberta amb volta de canó de dos trams, amb una gran cúpula sobre petxines al creuer. Iniciada la seva construcció l'any 1672 està decorada amb gran luxe a base de jaspis i marbres
			</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery08" src-image="images/site/suda.jpg" alt-image="Suda" leyend-image="Mercat de Tortosa.  Font:  Creative Commons. Autor: Amador"></lightbox>
		<div class="five columns photoframe-title">
			<h6>Castell de la Suda</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				El castell de la Suda es remunta als primers pobladors de Tortosa. Els romans aixecaren les primeres estructures emmurallades però foren els musulmans, sota el califat d'Abderraman III, els qui donaren forma a aquesta fabulosa construcció que pren modernament el nom de la Suda.
			</p>
		</div>
	</div>

	<!-- 2do. Gallery -->
	<h3 class="collaborate-medium-regular header-title item">Parc Natural dels Ports</h3>

	<div class="photoframe item">
		<lightbox id="gallery09" src-image="images/site/cabra1.jpg" alt-image="cabra" leyend-image="Cabra salvatge ibèrica (Capra pyrenaica hispanica)"></lightbox>
		<div class="five columns photoframe-title">
			<h6>Cabra salvatge ibèrica (Capra pyrenaica)</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				A Catalunya era molt abundant, sobretot al sud i al Pirineu, però va retrocedir molt per la caça i actualment només queda una població al Parc Natural dels Ports.
			</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery10" src-image="images/site/neu.jpg" alt-image="neu" leyend-image="Neu al Port. Autor:  Arxiu del Parc Natural dels Ports"></lightbox>
		<div class="five columns photoframe-title">
			<h6>Neu al massís de Port</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				El clima als Ports presenta forts contrastos donats per les diferents altituds i orientacions. Existeix una diferència notable entre ambdós vessants del massís.
			</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery11" src-image="images/site/benet.jpg" alt-image="Les Roques d'En Benet" leyend-image="Les Roques d'En Benet"></lightbox>
		<div class="five columns photoframe-title">
			<h6>Les Roques d'en Benet</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				Una espectacular formació calcàrea: les Roques d'En Benet s'alcen imponents
			</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery12" src-image="images/site/faigpare.jpg" alt-image="Faig Pare" leyend-image="El Faig Pare. Font: Patronat Turisme Terres de l'Ebre Catalunya"></lightbox>
		<div class="five columns photoframe-title">
			<h6>El Faig Pare</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				Declarat arbre monumental. Es troba a les Fagedes dels Ports i se li calcula una edat aproximada de 250 anys
			</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery13" src-image="images/site/estrets.jpg" alt-image="Estrets" leyend-image="Els estrets d'Arnes. Font:Patronat Turisme Terres de l'Ebre Catalunya"></lightbox>
		<div class="five columns photoframe-title">
			<h6>Estrets d'Arnes</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				El riu dels Estrets s'enfonsa entre altes parets de roca. És fàcil veure fauna salvatge i escaladors.
			</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery14" src-image="images/site/vulture.jpg" alt-image="història" leyend-image="Voltor. Font: Patronat Turisme Terres de l'Ebre Catalunya"></lightbox>
		<div class="five columns photoframe-title">
			<h6>Voltor comú</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				Si bé a Catalunya es troba en perill d'extinció, encara se'n troben als Pirineus i al Port
			</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery15" src-image="images/site/mar_oliveres.jpg" alt-image="oliveres" leyend-image="Una mar d'oliveres. Font: Patronat Turisme Terres de l'Ebre Catalunya. Autor:Santi Martorell"></lightbox>
		<div class="five columns photoframe-title">
			<h6>Mar d'oliveres</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				Entre les serres dels Ports, Cardó i Montsià s'escampa un mar platejat d'oliveres
			</p>
		</div>
	</div>

	<!-- 3ra. Gallery -->
	<h3 class="collaborate-medium-regular header-title item">Riu Ebre i Parc Natural del Delta</h3>

	<div class="photoframe item">
		<lightbox id="gallery16" src-image="images/site/arrossar.jpg" alt-image="arrossars" leyend-image="Arrossars"></lightbox>
		<div class="five columns photoframe-title">
			<h6>Arrossars</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>El cultiu més extés al Delta és l'arròs.</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery17" src-image="images/site/dunes1.jpg" alt-image="dunes" leyend-image="Dunes. Font: Patronat Turisme Terres de l'Ebre Catalunya. Autor: Xavi Gómez"></lightbox>
		<div class="five columns photoframe-title">
			<h6>Dunes</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				Les formacions de dunes a les zones desèrtiques del Delta recorden paisatges africans
			</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery18" src-image="images/site/flamencs.jpg" alt-image="flamencs" leyend-image="Flamencs al Delta. Font:Patronat Turisme Terres de l'Ebre Catalunya"></lightbox>
		<div class="five columns photoframe-title">
			<h6>Colònia de Flamencs</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				Els flamencs nidifiquen al Delta des de 1992 on troben unes condicions idònies per criar i viure. Ja són més de 3000 parelles que hi crien cada any.
			</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery19" src-image="images/site/gavina.jpg" alt-image="gavina corsa" leyend-image="Gavina corsa. Font: Patronat Turisme Terres de l'Ebre Catalunya."></lightbox>
		<div class="five columns photoframe-title">
			<h6>Gavina corsa</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>La gavina corsa és una espècie que només es troba al Delta</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery20" src-image="images/site/riu.jpg" alt-image="riu" leyend-image="Riu Ebre. Font: Patronat Turisme Terres de l'Ebre Catalunya."></lightbox>
		<div class="five columns photoframe-title">
			<h6>iragües al riu</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>Pràctica de piragüisme a l'Ebre</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery21" src-image="images/site/ocell.jpg" alt-image="ocell" leyend-image="Ocell. Font: Patronat Turisme Terres de l'Ebre Catalunya."></lightbox>
		<div class="five columns photoframe-title">
			<h6>Fotja vulgar (Fulica atra)</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				La fotja és una espècie d'ocell de la família dels ràl·lids, comú a les zones humides dels Països Catalans.
			</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery22" src-image="images/site/miravet.jpg" alt-image="Miravet" leyend-image="Llaüt passant per Miravet. Font: Patronat Turisme Terres de l'Ebre Catalunya."></lightbox>
		<div class="five columns photoframe-title">
			<h6>Llaüt</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>Navegació per l'Ebre a l'alçada de Miravet.</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery23" src-image="images/site/far.jpg" alt-image="far" leyend-image="Far del Fangar. Font:Cretive Commons. Autor: Ripoll."></lightbox>
		<div class="five columns photoframe-title">
			<h6>Far del Fangar</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				Per la seva singularitat i com destaca en l'entorn àrid, el far del Fangar constitueix un dels símbols arquitectònics i paisatgístics més característics de les Terres de l'Ebre.
			</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery24" src-image="images/site/platja.jpg" alt-image="Platja del Delta" leyend-image="Platja del Delta"></lightbox>
		<div class="five columns photoframe-title">
			<h6>Platja del Delta</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				El Delta compta amb extenses platges on es poden practicar diversos tipus d’activitats i esports de lleure (windsurf, sky-surf, vela, rem ...). Més al nord les platges són de pedra petita i aigües cristal·lines
			</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery25" src-image="images/site/meandre.jpg" alt-image="meandre" leyend-image="Riu Ebre. Font: Patronat Turisme Terres de l'Ebre Catalunya."></lightbox>
		<div class="five columns photoframe-title">
			<h6>Panoràmica de l'Ebre</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				L'acumumulació de materials sedimentats pel riu ha creat una gran plana entre montanyes que s'extén fins a 22 km mar endins
			</p>
		</div>
	</div>

	<!-- 4ta. Gallery -->
	<h3 class="collaborate-medium-regular header-title item">Altres activitats d'interés</h3>

	<div class="photoframe item">
		<lightbox id="gallery26" src-image="images/site/turismeamposta.jpg" alt-image="torre de la carrova" leyend-image="Riu Ebre. Font:www.turismeamposta.cat. Autor: Mariano Cebolla"></lightbox>
		<div class="five columns photoframe-title">
			<h6>Castells de frontera: la marca de les Terres de l’Ebre</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				Un recorregut per les comarques del Montsià, el Baix Ebre, la Terra Alta i la Ribera d’Ebre, descobrint els testimonis que ens han arribat des de l’època medieval, conforma la ruta dels castells de la marca de les Terres de l’Ebre. A la foto: Torre de la Carrova.
			</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery27" src-image="images/site/escalada.jpg" alt-image="escalada" leyend-image="Riu Ebre. Font:www.turismeamposta.cat. Autor: Mariano Cebolla"></lightbox>
		<div class="five columns photoframe-title">
			<h6>Escalada als Ports</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				El massís dels Ports, la serra del Montsià i de Llaberia són formacions calcàries i de conglomerat on els darrers anys s’han obert diverses línies d’escalada però on encara hi ha moltes vies per descobrir
			</p>
		</div>
	</div>

	<div class="photoframe item">
		<lightbox id="gallery28" src-image="images/site/cellerpinell.jpg" alt-image="celler Pinell" leyend-image="La Catedral del vi. Font:Creative Commons. Autor:Tomàs Badia"></lightbox>
		<div class="five columns photoframe-title">
			<h6>Turisme enològic. Celler del Pinell</h6>
		</div>
		<div class="seven columns photoframe-description">
			<p>
				César Martinell, deixeble d'Antoni Gaudí dissenyà aquest celler modernista construït a base d'arcs parabòlics i encavalcades de fusta. A més d'una magnífica arquitectura la Terra Alta permet disfrutar excel·lents vins
			</p>
		</div>
	</div>

</div>