<div>
	<a id="modal-link" href="#" data-reveal-id="global-modal">
		<img src="" alt="">
	</a>
</div>
<div id="modal" class="reveal-modal photo-modal">
	<img src="" alt="">
	<p class="photo-leyend"></p>
	<a class="close-reveal-modal" href="">×</a>
</div>