<div class="photoframe">
	<lightbox id="fortification" src-image="images/site/fortificacions.jpg" alt-image="Capella" leyend-image="Fortificacions.  Font: Patronat Turisme Terres de l'Ebre Catalunya.ueba de tamaño">		
	</lightbox>
	<div class="five columns photoframe-title">
		<h6>Passeig de les fortifiacions</h6>
	</div>
	<div class="seven columns photoframe-description">
		<p>
			El conjunt de muralles i fortificacions de Tortosa és dels més importants d'Europa. Consta de restes d'orígen romà, fortificacions  de l'època musulmana i parts del recinte emmurallat medieval construït al segle XIV
		</p>
	</div>
</div>