<div class="" id="menu-nav">
        <ul id="bmenu">
                <li><a href="#/history"> HISTORIA</a></li>
                <li><a href="#/oferim">OFERIM </a></li>
                <li><a href="#/espais">ESPAIS</a></li>
                <li><a href="#/entorn">ENTORN</a></li>
                <li><a href="#/tarifes">TARIFES</a></li>
                <li><a href="#/reserves">RESERVES</a></li>
                <li><a href="#/contacte">CONTACTE</a></li>
        	<li><a href="#/om-som">ON SOM?</a></li>
        </ul>
</div>